.button button {
    background-color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    border: solid 1px #ACA9A9;
    color: #ACA9A9;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    /* transition:0s 1s; */
    cursor: pointer;
}

.button button:hover {
    background-color: #ACA9A9;
    border: none;
    color:white;
    /* transition:0s; */
}

.button button:active {
    background-color: white;
    border: solid 1px #ACA9A9;
    color: #ACA9A9;
    text-shadow: #ACA9A9;
    /* transition:0s 1s; */
}